@media (max-width: 400px) {

  h3{

    font-size: 32px;

  }

  .container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 80% 20%;
    /*grid-template-columns: repeat(3, 1fr 1fr 1fr);*/
  }
  
  #mybook {
    grid-column: 1/4;
    grid-row: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    /*width: 80% !important;
    height: 60% !important;*/
  }


  #back {
    
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #next {
    
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

@media (max-width: 800px) {

  h3{

    font-size: 32px;

  }

  h2{
    font-size: 60px;
  }
  
  #mybook {

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    /*width: 80% !important;
    height: 60% !important;*/
  }

  .container {
    margin-top: 3%;
  }
}