body{
  background: #212121;
}

h3{
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  text-align: center;
  color: #6e7ee4;
}

h2{
  font-family: 'Tangerine', cursive;
  font-size: 80px;
  text-align: center;
  color: #6e7ee4;
}

h1{
  font-family: 'Tangerine', cursive;
  font-size: 100px;
  text-align: center;
  color: #6e7ee4;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 2%;
}

#mybook {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.644);
  grid-column: 2/3;
}

.booklet .b-wrap-left {
  background: white;
}

.booklet .b-wrap-right {
  background: white;
}

#cover {
  background: url("../images/cover.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#p1 {
  background: url("../images/1.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#p2 {
  background: url("../images/2.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#p3 {
  background: url("../images/3.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#p4 {
  background: url("../images/4.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#p5 {
  background: url("../images/5.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#p6 {
  background: url("../images/6.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.btn{
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.24);
  width: 60px;
  height: 60px;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 45px;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.644);;

  cursor: pointer;
}

#back {
  grid-column: 1/2;
  grid-row: 1/2;
}

#next {
  grid-column: 3/4;
  grid-row: 1/2;
}

i {
  /*margin-top: 25%;*/
  /* standard gradient background */
  background: linear-gradient(#6e7ee4, #ea6cbc);

  /* clip informático */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#map{
  margin: 5% 5%;
  height: 500px;
  width: 90%;
}